<?php

/**
 * EXAMPLE OF FILE EXTENDING AMASTY BLOG WITH HYVA FUNCTIONALITY
 */

declare(strict_types=1);

use Magento\Framework\Escaper;
use Amasty\Blog\Block\Content\Post;
use Amasty\Blog\Api\Data\PostInterface;
use Hyva\Theme\Model\ViewModelRegistry;
use Amasty\BlogHyva\ViewModel\Post as Comments;
use Hyva\Theme\ViewModel\HeroiconsOutline;

/** @var Escaper $escaper */
/** @var Post $block */
/** @var PostInterface */
/** @var ViewModelRegistry $viewModels */

/** @var Comments $comments */
$comments = $viewModels->require(Comments::class);

/** @var HeroiconsOutline $heroicons */
$heroicons = $viewModels->require(HeroiconsOutline::class);

$post = $block->getPost();
$image = $post->getPostThumbnailSrc();
$previousNextNavigation = $block->getData('previous_next_navigation');
$previous = $post->isPreviewPost() ? null : $previousNextNavigation->getPreviousData();
$next = $post->isPreviewPost() ? null : $previousNextNavigation->getNextData();
?>
<div class="amblog-post-container card -post-page mb-4">
    <?php if ($image): ?>
        <?php if ($block->hasThumbnailUrl()): ?>
            <a
            class="thumbnail-url"
            title="<?= $escaper->escapeHtmlAttr($post->getTitle()); ?>"
            aria-label="<?= $escaper->escapeHtmlAttr($post->getTitle()); ?>"
            href="<?= $escaper->escapeUrl($block->getThumbnailUrl()); ?>"
            >
        <?php endif; ?>
        <img src="<?= $escaper->escapeUrl($image); ?>" class="max-w-[139%] w-[139%] -mx-[19.5%] lg:w-full lg:max-w-full lg:mx-auto"
             alt="<?= $escaper->escapeHtmlAttr($post->getThumbnailAlt('post')); ?>" />
        <?php if ($block->hasThumbnailUrl()): ?>
            </a>
        <?php endif; ?>
    <?php endif; ?>
    <div class="amblog-content">
        <div class="amblog-dates text-gray-500 font-light text-sm flex mt-4">
            <span class="amblog-date mr-6"
                <?php if ($block->isHumanized()): ?>
                    x-data="HumanizeDateComponent()"
                    x-init="initializeDates('<?= $escaper->escapeJs($post->getPublishedAt()) ?>')"
                    x-html="getHumanizeDate()"
                <?php endif; ?>>
                <?= $escaper->escapeHtml($block->isHumanized()
                    ? __('Loading...')
                    : $block->renderDate($post->getPublishedAt())) ?>
            </span>
            <?php if ($post->getEditedAt() && $block->isShowEditedAt()): ?>
                <span class="amblog-date mr-6">
                    <?= $escaper->escapeHtml(__('Edited')) ?>
                    <span <?php if ($block->isHumanizedEditedAt()): ?>
                        x-data="HumanizeDateComponent()"
                        x-init="initializeDates('<?= $escaper->escapeJs($post->getEditedAt()) ?>')"
                        x-html="getHumanizeDate()"
                    <?php endif; ?>>
                        <?= $escaper->escapeHtml($block->isHumanizedEditedAt()
                            ? __('Loading...')
                            : $block->renderDate($post->getEditedAt(), true)) ?>
                    </span>
                </span>
            <?php endif; ?>
            <?php if ($block->isShowViewsCounter()): ?>
                <span class="views amblog-views mr-6" id="amblog-views-counter">
                    <?= $escaper->escapeHtml(__("%1 view(s)", $post->getViews())); ?>
                </span>
            <?php endif; ?>
            <?php if ($block->isDisplayReadTime()): ?>
                <span class="amblog-minread">
                    <?= $escaper->escapeHtml($block->getReadTime((string)$post->getFullContent())); ?>
                    <?= $escaper->escapeHtml(__(' min read')); ?>
                </span>
            <?php endif; ?>
        </div>
        <div class="amblog-post-title my-4">
            <a
                href="<?= $escaper->escapeUrl($post->getUrl()); ?>"
                class="post-title title text-md md:text-lg font-semibold"
                title="<?= $escaper->escapeHtml($post->getTitle()); ?>"
                aria-label="<?= $escaper->escapeHtml($post->getTitle()); ?>"
            >
                <?= $escaper->escapeHtml($post->getTitle()); ?>
            </a>
        </div>
        <div class="amblog-post-content">
            <?= /* @noEscape */ $post->getFullContent(); ?>
        </div>
    </div>
    <div class="amblog-footer">
        <div class="tags my-6">
            <?= $block->getTagsHtml($post); ?>
        </div>
        <div class="amblog-features flex flex-wrap flex-col md:flex-row">
            <?= $block->getAuthorHtml($post); ?>
            <?= $block->getCategoriesHtml($post); ?>
            <?= $block->getShortCommentsHtml($post); ?>
        </div>
        <?php if ($block->getSettingHelper()->getHelpfulEnabled()): ?>
            <?= $block->getHelpfulHtml(); ?>
        <?php endif; ?>
        <?php if ($block->getSettingHelper()->getSocialEnabled()): ?>
            <?= $block->getSocialHtml(); ?>
        <?php endif; ?>
    </div>

    <?php if ($previous || $next): ?>
        <section class="amblog-navigation-container bg-gray-200 mt-4 -mr-4 -ml-4
                -mb-4 px-4 py-4 flex items-center justify-between flex-col md:flex-row">
            <?php foreach ([$previous, $next] as $i => $current): ?>
                <section class="amblog-navigation <?= /* @noEscape */ $i ? '-next text-right' : '-previous' ?>">
                    <?php if ($current): ?>
                        <a
                            href="<?= $escaper->escapeUrl($current[PostInterface::URL_KEY]) ?>"
                            rel="<?= /* @noEscape */ $i ? 'next' : 'prev' ?>"
                            title="<?= $escaper->escapeHtmlAttr($current[PostInterface::TITLE]) ?>"
                            class="amblog-title-link flex items-center my-2 hover:text-blue-600"
                        >
                            <?php if (!$i): ?>
                                <?= $heroicons->chevronLeftHtml("w-5 h-5 mr-2", 25, 25) ?>
                            <?php endif; ?>
                            <span class="flex flex-col">
                                <span class="amblog-navigation-label text-gray-600 text-sm">
                                    <?= $escaper->escapeHtml(__($i ? 'Next article:' : 'Previous article:')) ?>
                                </span>
                                <span
                                    class="font-semibold text-primary"
                                >
                                    <?= $escaper->escapeHtml($current[PostInterface::TITLE]) ?>
                                </span>
                            </span>
                            <?php if ($i): ?>
                                <?= $heroicons->chevronRightHtml("w-5 h-5 ml-2", 25, 25) ?>
                            <?php endif; ?>
                        </a>
                    <?php endif; ?>
                </section>
            <?php endforeach; ?>
        </section>
    <?php endif; ?>
</div>

<?= $block->getChildHtml('amblog.post.related');?>
<?= $block->getChildHtml('amblog.post.related.products');?>

<?php if ($block->getUseCommentsGlobal() && $post->getCommentsEnabled()): ?>
    <div
        class="amblog-comments-wrapper top-comments-wrapper card mb-4"
        x-data="dataComments()"
        x-init="initComments()"
    >
        <div class="amblog-title title text-md md:text-lg font-semibold border-container border-b pb-4 mb-4">
            <?= $escaper->escapeHtml(__('Comments')); ?>
        </div>
        <div class="amblog-comments-action" id="comments-form">
            <?= $block->getChildHtml('amblog.comments.form') ?>
        </div>
        <div class="amblog-comments-container" id="comments">
            <?= $block->getChildHtml('amblog.comments.list') ?>
        </div>

        <?= /** @noEscape  */ $comments->fetchView($comments->getTemplateFile('Hyva_Theme::ui/loading.phtml')) ?>
    </div>
<?php endif; ?>
<div class="amblog-overlay" data-amblog-js="overlay"></div>

<script>
    'use strict';

    function dataComments() {
        return {
            replyCount: 0,
            isLoading: false,
            isShowViews: <?= $block->getSettingHelper()->getDisplayViews() ? 'true' : 'false' ?>,

            options: {
                form_selector: '.amblog-comment-reply',
                form_url: '<?= $escaper->escapeUrl($comments->getFormUrl()) ?>',
                update_url: '<?= $escaper->escapeUrl($comments->getUpdateUrl()) ?>',
                post_url: '<?= $escaper->escapeUrl($comments->getPostUrl()) ?>',
                post_id: '<?= $escaper->escapeHtml($comments->getPostId()); ?>',
                session_id: '<?= $escaper->escapeHtml($comments->getSessionId()); ?>',
                maxDeep: 2
            },

            selectors: {
                topCommentsWrapper: '.top-comments-wrapper',
                gdpr: '[name="gdpr_agree"]',
                viewsCounter: 'amblog-views-counter',
                commentsWrapper: '.comments_wrapper',
                shortComments: '.short_comments',
                commentsForm: '#comments-form',
                replies: '.amblog-replies',
            },

            classes: {
                deepReply: 'deep-reply',
                pointer: 'pointer-events-none',
                fillGrey: 'fill-amb_grey',
                fillBlue: 'fill-amb_blue_icon',
                textGrey: 'text-amb_grey',
                textBlue: 'text-amb_blue_icon'
            },

            windowReplace: window.location.href.replace(/:[^:].*$/i, ''),

            initComments() {
                this.checkLocation();
                this.postViewStatistic();
                this.loadCommentsByAjax();
            },

            getReplyCount(el) {
                return el.closest('.comment-item')
                    .querySelectorAll('.comment-item').length;
            },

            getReplyForm(el) {
                const container = el.getAttribute('href').replace('#', ''),
                    id = el.getAttribute('data-id');

                this.showForm(container, id);
            },

            innerElements(elementSelector, data) {
                const tmpElement = document.createElement('div');
                const element = document.querySelector(elementSelector);
                tmpElement.innerHTML = data;
                const commentsWrapper = tmpElement.querySelector(elementSelector)

                if (element && commentsWrapper && commentsWrapper.firstChild) {
                    element.innerHTML = commentsWrapper.innerHTML;
                }

                if (element && !commentsWrapper) {
                    element.innerHTML = data;
                }
            },

            parents(el, selector) {
                const parents = [];
                while ((el = el.parentNode) && el !== document) {
                    if (!selector || el.matches(selector)) parents.push(el);
                }
                return parents;
            },

            loadCommentsByAjax() {
                fetch(this.options.update_url+ '?form_key=' + hyva.getFormKey() +
                    '&post_id=<?= (int) $block->getPost()->getPostId() ?>',
                    {
                        method: 'GET',
                        headers: {
                            'Content-type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    }
                )
                    .then(response => response.json())
                    .then(result => {
                        if (result.content) {
                            this.innerElements(this.selectors.commentsWrapper, result.content);

                            if (result.short_content) {
                                this.innerElements(this.selectors.shortComments, result.short_content);
                            }

                            if (result.comments_form) {
                                this.innerElements(this.selectors.commentsForm, result.comments_form);
                            }

                            this.setDeepReplyClass();
                        } else if (data.error) {
                            console.warn(data.error);
                        }
                    });
            },

            setDeepReplyClass() {
                const commentsWrapper = document.querySelector(this.selectors.commentsWrapper),
                    replies = commentsWrapper.querySelectorAll(this.selectors.replies);

                replies.forEach(reply => {
                    if (this.parents(reply, this.selectors.replies).length >= this.options.maxDeep) {
                        reply.classList.add(this.classes.deepReply);
                    }
                });
            },

            checkLocation() {
                // Redirect to form after login
                if (window.location.hash) {
                    if (window.location.hash === '#add-comment') {
                        this.showForm('amblog-comment-form', 0);
                    } else if (window.location.hash.indexOf('#reply-to-') !== -1) {
                        const replyTo = window.location.hash.replace('#reply-to-', '');
                        this.showForm('am-comment-form-' + replyTo, replyTo);
                    }
                }
            },

            hideForm(el) {
                const container = el.closest('.amblog-comment-reply');

                container.innerHTML = '';
                container.style.display = 'none';
            },

            showForm(container, id) {
                const formContainer = document.getElementById(container),
                    formID = formContainer.getAttribute('id');

                if (formContainer && formContainer.style.display === 'none') {
                    document.querySelectorAll('.amblog-comment-reply').forEach(containerReply => {
                        if (containerReply !== formContainer) {
                            containerReply.innerHTML = '';
                            containerReply.style.display = 'none';
                        }
                    });

                    formContainer.style.display = 'block';

                    this.loadFormToContainer(container, id, formID);
                }

                return false;
            },

            loadFormToContainer: function (container, id, formID) {
                let url = decodeURI(
                    this.options.form_url.replace(/^http[s]{0,1}/,
                        this.windowReplace)
                );

                this.isLoading = true;
                fetch(this.getFormattedUrl(url, id), {
                        headers: {
                            'Content-type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    }
                )
                    .then(response => response.json())
                    .then(result => {
                        if (result.form) {
                            document.getElementById(container).innerHTML = result.form;

                            if (formID) {
                                this.addFormHash(formID);
                            }
                        }
                    })
                    .catch(this.displayError)
                    .finally(() => {
                        this.isLoading = false;
                    });
            },

            addFormHash(formID) {
                window.location.hash = '#' + formID;
                document.querySelector('#' + formID).scrollIntoView({block: 'start', behavior: 'smooth'});
            },

            getReplyLabel(el, isShow) {
                if (isShow) {
                    return '<?= $escaper->escapeHtmlAttr(__('Hide replies')) ?>';
                }

                const repliesCount = this.getReplyCount(el),
                    replyText = repliesCount > 1 ?
                        '<?= $escaper->escapeHtmlAttr(__('replies')) ?>' :
                        '<?= $escaper->escapeHtmlAttr(__('reply')) ?>';

                return repliesCount + ' ' + replyText;
            },

            showReply(el) {
                let display = 'none';
                const replys = el.closest('.amblog-comment')
                        .querySelector('.amblog-replies').children,
                    isShow = replys[0].style.display === display;

                if (isShow) {
                    display = 'block';
                }

                for (const reply of replys) {
                    reply.style.display = display;
                }

                el.innerHTML = this.getReplyLabel(el, isShow);
            },

            sendForm(form) {
                let url = decodeURI(this.options.post_url),
                    values = new FormData(form),
                    replyTo = values.get('reply_to');

                if (form.querySelectorAll(this.selectors.gdpr).length
                    && !form.querySelectorAll(this.selectors.gdpr + ':checked').length
                ) {
                    values.set('email', '');
                    values.set('name', '');
                    values.set('customer_id', 0);
                }

                if (!('name' in values.entries)) {
                    values.set('name', '');
                }

                this.isLoading = true;
                fetch(this.getFormattedUrl(url, replyTo), {
                        method: 'POST',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                        },
                        body: values
                    }
                )
                    .then(response => response.json())
                    .then(result => {
                        form.querySelector('textarea').value = '';

                        let commentsBlock = document.querySelector('.amblog-comments-block');

                        if (form.classList.contains('reply-form')) {
                            commentsBlock = form
                                .closest('.amblog-replies-block')
                                .querySelector('.amblog-replies');

                            commentsBlock.style.display = 'block';
                        }

                        this.insertBeforeElement(commentsBlock, result.message);
                        commentsBlock.querySelector('div > .comment-item').style.display = 'block';

                        const commentItem = commentsBlock.closest('.comment-item');
                        if (commentItem) {
                            const commentBtn = commentItem
                                    .querySelector('.amblog-comment-content button.replies-button'),
                                commentBtnLabel = commentBtn.querySelector('span'),
                                commentBtnSVG = commentBtn.querySelector('svg');

                            commentBtnLabel.innerHTML = this.getReplyLabel(commentBtnLabel, true);

                            commentBtn.classList.remove(this.classes.pointer);
                            commentBtnLabel.classList.remove(this.classes.textGrey);
                            commentBtnLabel.classList.add(this.classes.textBlue);;
                            commentBtnSVG.classList.remove(this.classes.fillGrey);
                            commentBtnSVG.classList.add(this.classes.fillBlue);
                        }
                    })
                    .catch(this.displayError)
                    .finally(() => {
                        this.isLoading = false;
                    });
            },

            getClearUrlParams(url, data) {
                let params = '';

                url = url.replace('#', '');

                data.map(param => {
                    if (params) {
                        params += '&';
                    }

                    params += param.name + '=' + param.value;
                });

                if (~url.indexOf('?')) {
                    url += '&';
                } else {
                    url += '?';
                }

                return url + params;
            },

            getFormattedUrl(url, replyTo) {
                return url.replace('{{post_id}}', this.options.post_id)
                    .replace('{{session_id}}', this.options.session_id)
                    .replace('{{reply_to}}', replyTo)
                    .replace(/^http[s]{0,1}/, this.windowReplace);
            },

            insertBeforeElement(parent, message) {
                const before = parent.querySelector('div'),
                    div = document.createElement('div');

                div.innerHTML = message;

                parent.insertBefore(div, before);
            },

            serializeForm(form) {
                const data = new FormData(form)
                let array = [];
                for (let [key, value] of data) {
                    array.push({
                        name: key,
                        value: value
                    });
                }

                return array;
            },

            displayError(error) {
                if (error.name === 'AbortError') {
                    console.log('Fetch aborted');
                } else {
                    console.error(error);
                    typeof window.dispatchMessages !== "undefined" && window.dispatchMessages(
                        [{
                            type: "error",
                            text: "<?= $escaper->escapeJs(__("Something went wrong. Please try again.")) ?>"
                        }], 10000
                    );
                }
            },

            postViewStatistic() {
                fetch(BASE_URL + 'amblog/index/view?form_key=' + hyva.getFormKey() +
                    '&post_id=<?= (int) $block->getPost()->getPostId() ?>',
                    {
                        method: 'GET',
                        headers: {
                            'Content-type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    }
                )
                    .then(response => response.json())
                    .then(result => {
                        const viewsCount = result.views_count;

                        if (!isNaN(viewsCount) && this.isShowViews) {
                            document.getElementById(this.selectors.viewsCounter).innerHTML =
                                '<?= $escaper->escapeHtml(__('%1 view(s)')) ?>'.replace('%1', viewsCount);
                        }
                    });
            }
        }
    }
</script>

<?php if ($block->isHumanized() || $block->isHumanizedEditedAt()) {
    echo /** @noEscape */
    $block->fetchView(
        $block->getTemplateFile(
            'Amasty_BlogHyva::js/humanize_dates.phtml'
        )
    );
} ?>

<?php foreach ($block->getJsonMicroData() as $microData): ?>
    <script type="application/ld+json"><?= /* @noEscape */$microData; ?></script>
<?php endforeach;?>